@use '@gear-js/ui/variables' as *;

.wallet {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.balance {
  display: flex;
  justify-content: end;
  font-size: 18px;
  color:black;
}

.outerContainerWallet {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-right: 10px;
}

.currency {
  margin-left: 5px;
  color: white;
}
